<ion-view>
    <ion-nav-title>
            <a class="" ng-click="centerTopPopover.show($event)">
                <i class="icon ion-funnel"></i>
                Click to filter feed (Show all)
            </a>
    </ion-nav-title>
    <nav id="add_listing" mfb-menu position="br" effect="zoomin"
         active-icon="ion-edit" resting-icon="ion-plus-round"
          ng-click="gotoAddListing(this)">
    </nav>
    <ion-content header-shrink scroll-event-interval="5">
        <div class="row">
            <div class="col col-50 list card" >
                <div ng-repeat="p in products" ng-if="$index%2==0">
                    <div class="item item-avatar row">
                        <img src="img/{{p.store.name}}.jpg">
                        <h2 style="margin-left: 33%;">{{p.store.fullName}}</h2>
                    </div>
                    <div class="item item-image">
                        <img src="{{p.imgUrl}}">
                    </div>
                    <div class="item item-avatar">
                        <span style="float: right !important; margin-right: 10%">{{p.price | currency}}</span>
                        <h2>{{p.brand}}</h2>
                        <p>{{p.productName}}</p>
                    </div>
                </div>
            </div>



            <div class="col col-50 list card">
                <div ng-repeat="p in products" ng-if="$index%2==1">
                    <div class="item item-avatar row">
                        <img src="img/{{p.store.name}}.jpg">
                        <h2 style="margin-left: 33%;">{{p.store.fullName}}</h2>
                    </div>
                    <div class="item item-image">
                        <img src="{{p.imgUrl}}">
                    </div>
                    <div class="item item-avatar">
                        <span style="float: right !important; margin-right: 10%">{{p.price | currency}}</span>
                        <h2>{{p.brand}}</h2>
                        <p>{{p.productName}}</p>
                    </div>
                </div>
            </div>
        </div>

        <ion-infinite-scroll
                on-infinite="loadMore()"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>