<ion-view>
    <ion-nav-title>
            <a class="" ng-click="centerTopPopover.show($event)">
                <i class="icon ion-funnel"></i>
                Click to filter feed (Show all)
            </a>
    </ion-nav-title>
    <nav id="add_listing" mfb-menu position="br" effect="zoomin"
         active-icon="ion-edit" resting-icon="ion-plus-round"
          ng-click="gotoAddListing(this)">
    </nav>
    <ion-content header-shrink scroll-event-interval="5">
        <ion-refresher on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list card">

            <div class="item item-avatar">
                <img src="http://tutupash.com/site/assets/nin_logo.jpeg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </div>

            <div class="item item-image">
                <img src="http://ecx.images-amazon.com/images/I/41D5vU4I1NL.jpg">
            </div>

            <a class="item item-icon-left assertive" href="#">
                <i class="icon ion-music-note"></i>
                Start listening
            </a>

        </div><div class="list card">

        <div class="item item-avatar">
            <img src="http://tutupash.com/site/assets/nin_logo.jpeg">
            <h2>Pretty Hate Machine</h2>
            <p>Nine Inch Nails</p>
        </div>

        <div class="item item-image">
            <img src="http://ecx.images-amazon.com/images/I/41D5vU4I1NL.jpg">
        </div>

        <a class="item item-icon-left assertive" href="#">
            <i class="icon ion-music-note"></i>
            Start listening
        </a>

    </div><div class="list card">

        <div class="item item-avatar">
            <img src="http://tutupash.com/site/assets/nin_logo.jpeg">
            <h2>Pretty Hate Machine</h2>
            <p>Nine Inch Nails</p>
        </div>

        <div class="item item-image">
            <img src="http://ecx.images-amazon.com/images/I/41D5vU4I1NL.jpg">
        </div>

        <a class="item item-icon-left assertive" href="#">
            <i class="icon ion-music-note"></i>
            Start listening
        </a>

    </div>

    </ion-content>
</ion-view>